<%= form_with(model: person, data: { controller: 'dependent-fields' }) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-6">
    <%= form.label :name, style: "display: block", class: '' %>
    <%= form.text_field :name %>
  </div>

  <div class="mt-6">
    <%= form.label :country, style: "display: block", class: '' %>
    <%= form.select :country, options_for_select(Country.all), { prompt: 'Select one' },
    data: { 
      dependent_fields_target: "hasDependents",
      dependant_turbo_frame_selector: '#person_states_select'
    } %>
  </div>

  <%= render partial: 'states_select', locals: { form: form, states: State.find_by_country(@person.country) } %>

  <%= render partial: 'cities_select', locals: { form: form, cities: City.find_by_state(@person.state) } %>

  <h1 class="border-b text-lg border-gray-200 mt-8 mb-4">Project</h1>

  <div class="mt-6">
    <%= form.label :project, style: "display: block", class: '' %>
    <%= form.select :project, options_for_select(Project.all), { prompt: 'Select one' },
    data: { 
      dependent_fields_target: "hasDependents",
      dependant_turbo_frame_selector: '#project_fields'
    } %>
  </div>


  <%= render partial: 'project_fields', locals: { form: form, project: @person.project } %>

  <div class="mt-6">
    <%= form.submit 'Create', class: 'btn-primary btn-xl' %>
  </div>

<% end %>
