<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= person.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= person.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= person.country %>
  </p>

</div>
